@using OneOf.Types
@inherits LayoutComponentBase

<Layout Class="site-layout-background">
    <Sider Class="site-layout-background" Collapsed=true>
        <Title Level="4" Style="text-align:center;padding-top: 10px">目录</Title>
        <Menu Theme="MenuTheme.Light" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[] { "1" }) InlineCollapsed=collapsed>
            @foreach (var m in menuItems)
            {
                <MenuItem Key=@m.Key Routerlink="@m.Url">
                    <span>@m.Title</span>
                </MenuItem>
            }
        </Menu>
    </Sider>
    <Layout>
        <Content Style=" margin: 0 1vh 1vh">
            <div class="site-layout-background" style="padding: 18px; min-height: 99vh">
                @Body
            </div>
        </Content>
    </Layout>
</Layout>
@code {
    bool collapsed = true;
    bool isShow = false;
    bool featureIsShow = false;
    private List<MenuValue> menuItems = MenuInfo.MenuList.OrderBy(x=>x.Order).ToList();
}

<style>
    .site-layout-background {
        background: #fff;
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td {
        padding: 10px 10px;
    }

    .ant-table {
        font-size: 15px;
    }

    .pre-line {
        white-space: pre; /* 保留换行符和空格 */
    }

    .clickable {
        cursor: pointer;
    }
</style>
