<div>
    <CheckboxGroup Options="@options" @bind-Value="@selectValue" TValue="LabelTag"/>
    <Button OnClick="Sumbit">确认</Button>
</div>

@code {
    [Parameter] public LabelTag[] LabelTags { set; get; }
    [Parameter]public LabelStatus LabelTagStatus { set; get; }
    [Parameter]
    public EventCallback<LabelTag[]> LabelTagsChanged  { get; set; }
    
    CheckboxOption<LabelTag>[] options = [];
    LabelTag[] selectValue = [];
    
    protected override void OnInitialized()
    {
        var list=Db.Execute(db => db.GetCollection<LabelTag>().Find(x => x.Status == LabelTagStatus)).ToList();
        options = list.Select(x => new CheckboxOption<LabelTag>() { Label = x.Name, Value = x }).ToArray();
        selectValue = LabelTags ?? [];
    }

    private async Task Sumbit()
    {
        //LabelTags = selectValue;
        await LabelTagsChanged .InvokeAsync(selectValue);
    }
}